@import '../../variable.scss';

.login {
  display: flex;
  min-height: 100vh;

  .card {
    width: 50%;
    margin: auto;
    border-radius: 1rem;
    min-height: $height-form;
    align-items: stretch;
  }

  .form {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .p-button {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #submit-login .p-progress-spinner {
    width: 1.5rem;
    height: 1.5rem;

    .p-progress-spinner-circle {
      stroke: white;
    }
  }
}

//tablet
@media screen and (max-width: 1023px) {
  .login {
    display: block;
    height: calc(500px + 200px + 20px);

    .top-info {
      height: 300px;
      background-image: url('~@/assets/images/icon-dot.png');
      background-size: cover;
      /* <------ */
      background-repeat: no-repeat;
      background-position: center center;
    }

    .card {
      position: absolute;
      left: 0;
      right: 0;
      top: 200px;
      height: 400px;

      margin-left: auto;
      margin-right: auto;
    }
  }
}

//mobile
@media screen and (max-width: 767px) {
  .login {
    height: calc(450px + 160px + 20px);
    .card {
      top: 250px;
      width: 90%;
      height: 490px;

      
      .form {
        form {
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }
    }
  }
}


@media screen and (max-width: 375px) {
  .login {
    .card {
      top: 180px;
      height: 380px;
    }
  }
}