@import "../variable";

.container-tabs-filter {
  overflow-x: scroll;
  will-change: transform;
  // display: inline-block;
  display: flex;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;

  .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .container-button:hover {
    color: $primary-color;
  }

  .select-button {
    box-shadow: 10px 10px 10px 10px white;
    border-bottom: 4px solid $primary-color;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: ease-out;
    scroll-behavior: smooth;
    transform: translateY(0);
    p {
      color: $primary-color;
    }
  }

  .select-button-null {
    opacity: 1;
    transition: 0.5s;
    transition-timing-function: ease-out;
    scroll-behavior: smooth;
    p {
      color: $color-blue-grey;
    }
    transform: translateY(0);
  }
}

.container-tabs-filter::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
