@import 'variable';

.table-og {
  .p-datatable-thead > tr > th {
    background: $color-blue-grey-lighten-5;

    span {
      color: $color-blue-grey-darken-1;
      letter-spacing: 0.01em;
      font-weight: 600;
    }
  }
}

.table-og.body-td-x-0 {
  tbody {
    td {
      padding: 0;
    }
  }
}